.nav-bar {
  z-index: 1;
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  box-shadow: 0px 0px 30px var(--red);
  background-color: var(--black);
}

.nav-bar__ul {
  display: flex;
}

.nav-bar__li {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateY(63px);
  animation: floatNav 0.5s ease-in-out forwards;
}

.nav-bar__li:nth-child(2) {
  animation-delay: 0.2s;
}

.nav-bar__li:nth-child(3) {
  animation-delay: 0.4s;
}

.nav-bar__li:last-child {
  animation-delay: 0.6s;
}

@keyframes floatNav {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav-bar__li i:hover {
  transform: scale(1.2);
}